.errorMessage
    background-color: #f2dede
    border-color: #eed3d7
    color: #b94a48
    border-radius: 4px
    padding: 8px 35px 8px 14px

.successMessage
    background-color: #dff0d8
    border-color: #d6e9c6
    color: #468847
    border-radius: 4px
    padding: 8px 35px 8px 14px

option:before
    content: "☐ "

option:checked:before
    content: "☑ "

table
    border-collapse: collapse
    color: #6F0A0A
    width: 100%

table tr
    background: #FFE5E5

table th,
table td
    vertical-align: top
    padding: 5px 10px
    border: 1px solid #fff

table tr:nth-child(even)
    background: #f5f5f5

table th
    background: #A00F0F
    color: #fff
    font-weight: bold

label
    &.success
        margin: -30px 1px 0px 470px
        position: fixed
        color: #5bb65b
    &.error
        margin: -30px 1px 0px 470px
        position: fixed
        color: #ce4844
    &.valid
        width: 24px
        height: 24px
        background: url(../img/valid.png) center center no-repeat
        display: inline-block
        text-indent: -9999px
    &.none
        display: none !important

.input-success
    border-color: #3c763d !important

.input-error
    border-color: #d9534f !important

.border_question
    border-radius: 4px
    padding: 4px 4px 0px
    border: 1px solid #006ccc
    margin-top: 4px

.select_option
    display: inline-block
    width: 200px

pre
    float: left
    width: 95%
    padding: 0 0 0 0
    border: none
    background-color: transparent!important
    font: inherit

.float_left
    float: left

div
    &.title
        text-align: center
        font-size: 24px
        font-weight: bold
        margin: 10px 0 20px 0
    &.time
        float: right
        position: fixed
        top: 55px
        right: 200px

.block
    display: inline-block

.bold
    font-weight: bold

.width_1
    width: 10%

.width_2
    width: 20%

.width_3
    width: 30%

.width_4
    width: 40%

.width_5
    width: 50%

.width_6
    width: 60%

.width_7
    width: 60%

.width_8
    width: 80%

.width_9
    width: 90%

.margin_bottom
    margin-bottom: 10px